<%- include('./partials/header', {user: user}); %>
<div class="container">
    <h2>We couldn't find that username! Try logging in again!</h2>
    <a href="/" class="button is-primary">Try again</a>
</div>
<%- include('./partials/footer')%>
